.homepage_background {
    /* position: absolute; */
    width: 100%;
    z-index: -1;
    color: #473C38;
    font-size: 10px;
}

/**
    Homepage introduce 
*/

.introduce_title {
    position: relative;
    max-width: 46.6rem;
    top: 28.4rem;
    left: 24.2rem;
}

.introduce_title .title_sub-name {
    font-size: 2.6rem;
    margin-bottom: 30px;
}

.introduce_title .title_name {
    font-family: 'Cinzel Decorative';
    font-size: 8rem;
    padding-left: 30px;
    margin-bottom: 35px;
}

.introduce_title .title_descr {
    font-size: 2rem;
}


.introduce_image img{
    float: right;    
    height: auto;
}

.introduce_slogan {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 9rem;
    left: 3rem;
    height: 68.2rem;
    color: #BAB0A7;
    text-align: center;
    z-index: -1;
}

.introduce_slogan p {
    transform: rotate(-90deg);
    margin-bottom: 16.9rem;
    font-size: 1.6rem;
}

.introduce_slogan .slogan_icon i {
    display: block;
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
}

.introduce_slogan .slogan_icon i:hover {
    cursor: pointer;
}


.introduce_scroll {
    position: absolute;
    top: 84.6rem;
    left: 22%;
    transform: translateX(-50%);
}

.introduce_scroll p {
    font-size: 2.2rem;
    color: #474747;
    text-align: center;
    margin-bottom: 1.5rem;
}

.introduce_scroll div {
    position: inherit;
    width: 1px;
    height: 20rem;
    border-left: 1px solid #474747;
    left: 50%;
}

.collection_container {
    position: relative;
    margin-top: 8.1rem;
    margin-bottom: 10rem;
}

/**
    Homepage spring 
*/

.homepage_spring {
    position: relative;
    left: 20rem;
    width: 159rem;
    height: 78.4rem;
}

.homepage_spring .topic_image_1 {
    position: absolute;
    width: 53.8rem;
    height: 36.1rem;
    top: 0;
    right:0;
    /* background-color: #d9d9d9; */
}

.homepage_spring .topic_image_2 {
    position: absolute;
    width: 51rem;
    height: 68rem;
    bottom: 0;
    left: 0;
    /* background-color: #d9d9d9; */
}

.collection_button {
    position: absolute;
    width: 27.5rem;
    height: 6.9rem;
    bottom: 0;
    right: 0;
    padding-left: 4.4rem;
    font-size: 1.6rem;
    text-align: left;
    border: none; 
    transition: ease-out 0.4s;
    color: #F0EAE2;
}

.collection_container .spring {
    background-color: rgba(194, 36, 36, 0.8);
    box-shadow: inset 4.166666666666667em 0 0 0.005em rgba(194, 36, 36, 0);
}

.collection_container .spring:hover {
    box-shadow: inset 27.5rem 0 0 0 rgba(194, 36, 36, 1);
}

.collection_container .summer {
    background-color:rgba(253, 135, 40, 0.8);
    box-shadow: inset 4.166666666666667em 0 0 0.005em rgba(252, 127, 25, 0);
}

.collection_container .summer:hover {
    box-shadow: inset 27.5rem 0 0 0 rgba(252, 127, 25, 1);
}

.collection_container .autumn {
    background-color:rgba(176, 109, 64, 0.8);
    box-shadow: inset 4.166666666666667em 0 0 0.005em rgba(176, 109, 64, 0);
}

.collection_container .autumn:hover {
    box-shadow: inset 27.5rem 0 0 0 rgba(176, 109, 64, 1);
}

.collection_container .winter {
    background-color: rgba(71, 71, 71, 0.8);
    box-shadow: inset 4.166666666666667em 0 0 0.005em rgba(71, 71, 71, 0);
}

.collection_container .winter:hover {
    box-shadow: inset 27.5rem 0 0 0 rgba(71, 71, 71, 1);
}

.collection_container img {
    max-width: 100%;
    max-height: 100%;
}

.collection_button_icon {
    color: #F0EAE2;
    margin: auto;
    margin-left: 30px;
    font-size: 2.5rem;
}

.homepage_spring .topic_body {
    position: absolute;
    top: 24rem;
    left: 57.7rem;
}

.homepage_spring .topic_body .title_sub-name {
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.homepage_spring .topic_body .title_name {
    font-family: 'Cinzel Decorative';
    font-size: 7rem;
    color: #C22424;
    margin-bottom: 8rem;
}

.homepage_spring .topic_body .title_descr {
    width: 58.7rem;
    /* max-height: 25rem; */
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 27px;
    text-align: justify;
}

/**
    Homepage summer
*/

.homepage_summer {
    position: relative;
    margin-top: 3.1rem;
    left: 20rem;
    width: 159rem;
    height: 92.1rem;
}

.homepage_summer_scroll {
    position: absolute;
    width: 1px;
    height: 20rem;
    border-left: 1px solid #474747;
    left: 13.7%;
}

.homepage_summer .topic_image_1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 94rem;
    height: 42rem;
    /* background-color: #d9d9d9; */
}

.homepage_summer .topic_image_2 {
    position: absolute;
    top: 8.5rem;
    right: 0;
    width: 42rem;
    height: 59rem;
    /* background-color: #d9d9d9; */
}

.homepage_summer .topic_body {
    position: absolute;
    top: 16.3rem;
    left: 32.3rem;
    width: 89.3rem;
    height: 64.2rem;
}

.homepage_summer .topic_body .title_sub-name {
    position: inherit;
    top: 44.5rem;
    right: 5rem;
    transform: rotate(90deg);
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.homepage_summer .topic_body .title_name {
    position: inherit;
    top: 52rem;
    right: 3rem;
    transform: rotate(90deg);
    font-family: 'Cinzel Decorative';
    font-size: 7rem;
    color: #FD8728;
    margin-bottom: 8rem;
}

.homepage_summer .topic_body .title_descr {
    position: inherit;
    top: 0;
    left: 0;
    width: 50.5rem;
    /* max-height: 25rem; */
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 27px;
    text-align: justify;
}

/**
    Homepage autumn
*/

.homepage_autumn {
    position: relative;
    margin-top: 2.8rem;
    left: 20rem;
    width: 159rem;
    height: 95rem;
}

.homepage_autumn_scroll {
    position: absolute;
    width: 1px;
    height: 24rem;
    border-left: 1px solid #474747;
    left: 13.7%;
}

.homepage_autumn .topic_image_1 {
    position: absolute;
    top: 12rem;
    right: 0;
    width: 42rem;
    height: 50rem;
    /* background-color: #d9d9d9; */
}

.homepage_autumn .topic_image_2 {
    position: absolute;
    bottom: 0;
    right: 44rem;
    width: 65rem;
    height: 56rem;
    /* background-color: #d9d9d9; */
}

.homepage_autumn .topic_body {
    position: absolute;
    bottom: 5.8rem;
    left: 0;
    width: 114.7rem;
    height: 64.4rem;
}

.homepage_autumn .topic_body .title_sub-name {
    position: inherit;
    top: 0;
    right: 0;
    font-size: 2.2rem;
    font-weight: 300;
}

.homepage_autumn .topic_body .title_name {
    position: inherit;
    top: 5rem;
    right: 0;
    font-family: 'Cinzel Decorative';
    font-size: 7rem;
    color: #B06D40;
}

.homepage_autumn .topic_body .title_descr {
    position: inherit;
    bottom: 0;
    left: 0;
    width: 44.5rem;
    /* max-height: 25rem; */
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 27px;
    text-align: justify;
}

/**
    Homepage winter
*/

.homepage_winter {
    position: relative;
    margin-top: 0.5rem;
    left: 20rem;
    width: 159rem;
    height: 95rem;
}

.homepage_winter_scroll {
    position: absolute;
    width: 1px;
    height: 27rem;
    border-left: 1px solid #474747;
    left: 13.7%;
}

.homepage_winter .topic_image_1 {
    position: absolute;
    top: 16.8rem;
    right: 0;
    width: 89.6rem;
    height: 41.8rem;
    /* background-color: #d9d9d9; */
}

.homepage_winter .topic_image_2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 63.8rem;
    height: 44.8rem;
    /* background-color: #d9d9d9; */
}

.homepage_winter .topic_body {
    position: absolute;
    top: 30rem;
    left: 29rem;
    width: 88rem;
    height: 65.4rem;
}

.homepage_winter .topic_body .title_sub-name {
    position: inherit;
    top: 0;
    left: 0;
    font-size: 2.2rem;
    font-weight: 300;
}

.homepage_winter .topic_body .title_name {
    position: inherit;
    top: 5rem;
    left: 0;
    font-family: 'Cinzel Decorative';
    font-size: 7rem;
    color: #474747;
}

.homepage_winter .topic_body .title_descr {
    position: inherit;
    bottom: 0;
    right: 0;
    width: 44.5rem;
    /* max-height: 25rem; */
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 27px;
    text-align: justify;
}