:root {
  --backgroundColor: #F0EAE2;
  --textColor: #473C38;
}

.product_container {
  z-index: 999;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--backgroundColor);
  font-size: 10px;
  width: 100%;
  min-height: 100%;
}

.admin_sort {
  position: absolute;
  top: 14em;
  right: 4.9em;
  width: 38.4em;
  height: 3.5em;
  display: flex;
}

.admin_sort h2 {
  font-size: 2.4em;
  font-weight: 500;
  height: 1.5em;
  width: 7em;
  text-align: center;
  line-height: 1.5em;
  color: #473C38;
  text-align: left;
}

/* sidebar */

.product_sidebar {
  width: 24.2em;
  height: 100%;
  padding-top: 18em;
}

.sidebar_element {
  font-family: 'Poppins';
  width: 21.8em;
  height: 30em;
  margin-bottom: 2.4em;
  border-bottom: 3px solid #BAAF9E4D;
}

.sidebar_element h2 {
  font-weight: 500;
  font-size: 2.2em;
  padding-left: 0.8em;
  margin-bottom: 0.9em;
}

.sidebar_element button {
  width: 100%;
  height: 2.5em;
  display: block;
  text-decoration: none;
  color: #473C38;
  font-size: 2em;
  padding-left: 2.2em;
  line-height: 2.5em;
  border: none;
  background-color: var(--backgroundColor);
  cursor: pointer;
  transition: .1s ease-out;
  text-align: left;
}

.sidebar_element .button_selected {
  background-color: #BAAF9E80;
}

.sidebar_element button:not(.button_selected):hover {
  background-color: #BAAF9E30;
}

/* page content */

.product_content {
  position: relative;
  margin-left: 28em;
  margin-top: -61.8em;
  margin-right: 4em;
}

.product_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product_row:nth-child(2) {
  position: relative;
  height: 18em;
}

.product_element {
  color: #473C38;
  border: 1px solid transparent;
  margin-bottom: 8.2em;
  padding-bottom: 1em;
  cursor: pointer;
  position: relative;
  height: 550px;
}

.product_element:nth-child(13),
.product_element:nth-child(14),
.product_element:nth-child(15),
.product_element:nth-child(16) {
  margin-bottom: 0;
}

.product_element:hover {
  color: #AD7252;
}

.product_element .price-discount {
  text-decoration: line-through;
  color: #757575;
  margin-bottom: 1px;
}

.product_element .contain_img {
  position: relative;
  width: 35.7em;
  height: 41.7em;
  overflow: hidden;
}

.product_element:hover .contain_img .firstImg {
  transform: scale(1.1);
}

.product_element img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0EAE2;
  transition: all .6s;
  opacity: 1;
  object-fit: contain;
}

.product_element:hover img:nth-child(2) {
  opacity: 0;
}

.product_element .text {
  position: absolute;
  width: 100%;
}

.product_element h2,
.product_element p {
  font-size: 2.4em;
  line-height: 1.9em;
  text-align: center;
  margin-top: 10px;
}

.product_element p {
  line-height: 1.5em;
  margin-bottom: 20px;
  margin-top: 0;
  color: #AD7252;
}

@media only screen and (max-width: 1755px) {
  .product_element:nth-child(13),
  .product_element:nth-child(14),
  .product_element:nth-child(15) {
    margin-bottom: 8.2em;
  }
  .product_element:nth-child(16) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1396px) {
  .product_element:nth-child(13),
  .product_element:nth-child(14) {
    margin-bottom: 8.2em;
  }
  .product_element:nth-child(15),
  .product_element:nth-child(16) {
    margin-bottom: 0;
  }
  .product_row {
    justify-content: space-around;
  }  
}

@media only screen and (max-width: 1037px) {
  .product_element:nth-child(13),
  .product_element:nth-child(14),
  .product_element:nth-child(15) {
    margin-bottom: 8.2em;
  }
  .product_element:nth-child(16) {
    margin-bottom: 0;
  }
}

/* pagination */

.product_pagination {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* filter */

.admin_sort .product_type .sort-opts {
  left: calc(-2.5% - 10px);
  width: calc(105% + 20px);
}