:root {
  --backgroundColor: #F0EAE2;
  --textColor: #473C38;
}

.aboutUs_container {
  z-index: 999;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--backgroundColor);
  font-size: calc(100vw/1920*10);
  width: 100%;
}

.aboutUs_intro-vid {
  width: 100%;
  height: 100vh;
  position: relative;
}

.aboutUs_intro-vid video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.aboutUs_intro-vid h1 {
  font-family: 'Cinzel Decorative';
  position: absolute;
  top: 25%;
  left: 1.7em;
  width: 6.8em;
  height: 1.1em;
  font-size: 12em;
  font-weight: 500;
  line-height: 1.1em;
  text-align: left;
  color: var(--backgroundColor);
  text-shadow: 0px 1px 10px #473C38;
  opacity: 0;
  transition: 1s ease-in-out;
}

.aboutUs_intro-vid p {
  position: absolute;
  top: calc(25% + 4em);
  left: 5.8em;
  width: 25em;
  height: 1.3em;
  font-size: 3.6em;
  font-weight: 500;
  line-height: 1.3em;
  text-align: left;
  color: var(--backgroundColor);
  opacity: 0;
  transition: 1s ease-in-out;
}

.aboutUs_contact {
  position: absolute;
  bottom: 3em;
  right: 2.9em;
  width: 4.5em;
  display: flex;
  flex-direction: column;
}

.aboutUs_contact i {
  padding: 1px 2px;
  margin: 10px 0;
  width: 100%;
  height: 33%;
  font-size: 3em;
  color: #BAB0A7;
  opacity: 0;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.aboutUs_contact .aboutUs_last_icon {
  opacity: 1;
}

.aboutUs_info {
  width: 100%;
  height: 162em;
  color: var(--textColor);
  position: relative;
}

.aboutUs_info_decs h2 {
  font-family: 'MinervaModern';
}

.aboutUs_info_decs:nth-child(1) {
  position: absolute;
  top: 15em;
  left: 40em;
  width: 75em;
  height: 19em;
}

.aboutUs_info_decs:nth-child(2) {
  position: absolute;
  top: 68em;
  left: 105em;
  width: 55em;
  height: 22em;
}

.aboutUs_info_decs:nth-child(3) {
  position: absolute;
  top: 134.1em;
  left: 50%;
  transform: translateX(-50%);
  width: 100em;
  height: 16em;
}

.aboutUs_info_decs:nth-child(1) h2,
.aboutUs_info_decs:nth-child(2) h2,
.aboutUs_info_decs:nth-child(3) h2 {
  width: 100%;
  height: 1.5em;
  font-size: 3.5em;
  text-align: center;
  font-weight: 400;
  line-height: 1.5em;
}

.aboutUs_info_decs:nth-child(1) p,
.aboutUs_info_decs:nth-child(2) p,
.aboutUs_info_decs:nth-child(3) p {
  width: 100%;
  height: calc(100% - 2em);
  font-size: 2.3em;
  line-height: 1.5em;
  text-align: center;
  padding-top: 20px;
  margin-top: 10px;
  font-weight: 300;
}

.aboutUs_info_img:nth-child(4) {
  position: absolute;
  top: 7.1em;
  right: 23em;
  display: block;
  width: 40em;
  height: 48.5em;
  /* background-color: #D9D9D9; */
}

.aboutUs_info_img:nth-child(5) {
  position: absolute;
  top: 48.7em;
  left: 26.6em;
  display: block;
  width: 55em;
  height: 68em;
  /* background-color: #D9D9D9; */
  box-shadow: -6.3em -5em 0px 0px #DBC2AD;
  object-fit: fill;
}

.aboutUs_info_img:nth-child(6) {
  position: absolute;
  top: 108.8em;
  left: 93em;
  display: block;
  width: 82em;
  height: 19.5em;
  /* background-color: #D9D9D9; */
}

.aboutUs_founder {
  width: 100%;
  height: 53em;
  /* background-color: #D9D9D9; */
  overflow: hidden;
}

.aboutUs_contact-us {
  width: 100%;
  height: 96em;
  position: relative;
}

.aboutUs_contact-us_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 76.4%;
  position: relative;
}

.aboutUs_contact-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 57%;
  height: 28em;
  position: relative;
}

.aboutUs_contact-info h2 {
  width: 100%;
  font-size: 3.5em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1.4em;
}

.aboutUs_row {
  margin-top: 2em;
} 

.aboutUs_contact-info li {
  list-style-type: none;
  font-weight: 300;
  line-height: 1.5em;
  padding-top: 5px;
  font-size: 2.3em;
}

.aboutUs_contact-info p {
  list-style-type: none;
  font-weight: 300;
  line-height: 1.5em;
  padding-top: 5px;
  font-size: 2.3em;
}

.aboutUs_contact-info_sth {
  position: absolute;
  top: 13.5em;
  left: 0;
  width: 37.3em; 
  height: 13em; 
  background-color: #F9F7F4;
  border: 1px solid #DBC2AD;
  color: #473C38;
  font-weight: 300;
  padding: 30px;
  font-size: 2.2em;
  resize: none;
}

.aboutUs_contact-info_sth::placeholder {
  color: rgba(71, 60, 56, 0.5);
}

.aboutUs_contact-info_sth:focus {
  outline: 0;
  border: 2px solid #473C38;
}

.aboutUs_contact_submit {
  position: absolute;
  top: 31.7em;
  left: 33.5em;
  width: 7.5em;
  height: 2.5em;
  background-color: #ad7252;
  border: none;
  color: #fff;
  font-size: 2em;
  box-shadow: inset 20px 0 0 0 var(--boxColor);
  transition: ease-out .3s .1s;
}

.aboutUs_contact_submit:hover {
  box-shadow: inset 8.3em 0 0 0 #9C674B;
}

.aboutUs_contact-us_wrapper .map {
  position: absolute;
  top: 0em;
  right: 0em;
  display: block;
  width: 65em;
  height: 68.5em;
  /* background-color: #D9D9D9; */
}

.aboutUs_intro-vid .show_decs {
  opacity: 1;
}

.aboutUs_intro-vid .aboutUs_contact .hide_decs {
  display: none;
}