.alert_container {
    position: fixed;
    top: 1.7em;
    right: 2.2em;
    z-index: 999;
    height: 9.5em;
    width: 55em;
    display: flex;
    flex-direction: row;
}

.alert_container.in {
    animation: fade-in 0.6s ease-in;
}

.alert_container.out {
    animation: fade-out 0.5s linear;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fade-out {
    from {
      opacity: 1;
      top: 1.7em;
    }
    to {
      opacity: 0;
      top: 4.5em;
    }
}

.alert_container .alert_icon {
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert_container .alert_icon i {
    font-size: 3em;
}

.alert_container .alert_content {
    max-height: 9.5em;
    width: 47em;
    flex-direction: column;
    padding: 1em;
    padding-left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.alert_container .alert_content .alert_content_title {
    padding-bottom: 0.3em;
    font-size: 2.1em;
    font-weight: 500;
}

.alert_container .alert_content .alert_content_message {
    max-height: 2.4em;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 1.8em;
    font-weight: 300;
}

.alert_container.success {
    color: #F0EAE2;
    background-color: #336e53;
}

.alert_container.error {
    color: #F0EAE2;
    background-color: #C22424;
}

/* .alert_container .trash {
    color: #fff;
    border-color: #dc4a4d;
    background-color: #f25c5d;
}

.alert_container .info {
    color: #fff;
    border-color: #076d91;
    background-color: #3397db;
} */

.alert_container.warning {
    color: #F0EAE2;
    background-color: #d27442;
}

.alert_container .hidden {
    display: none;
}