:root {
    --springColor: #C22424;
    --summerColor: #FD8728;
    --autumnColor: #B06D40;
    --winterColor: #474747;
}

.collection_background {
    position: absolute;
    width: 100%;
    color: #473C38;
    font-size: 10px;
}

.collection_background img {
    max-width: 100%;
    max-height: 100%;
    object-fit:fill;
}

.collection_wallpaper {
    width: 192rem;
    height: 85rem;
    background-color: #d9d9d9;
    position: relative;
}

.collection_title {
    position: absolute;
    top: 40rem;
    left: 42rem;
}

.collection_background .spring {
    color: var(--springColor);
}

.collection_background .summer {
    color: var(--summerColor);
}

.collection_background .autumn {
    color: var(--autumnColor);
}

.collection_background .winter {
    color: var(--winterColor);
}

.collection_title h1 {
    font-size:  8rem;
    font-family: 'Cinzel Decorative';
    margin-bottom: 3rem;
    text-align: center;
}

.collection_title p {
    font-size: 6rem;
    font-weight: 300;
    width: 60rem;
    line-height: 9rem;
    text-align: center;
}

.collection_part_1 p {
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: justify;
    font-weight: 300;
}

.collection_image_1 {
    position: absolute;
    top: 71rem;
    left: 27rem;

    width: 67rem;
    height: 85.5rem;

    background-color: #d9d9d9;
    /* border: 1px solid #000; */
}

.collection_image_2 {
    position: absolute;
    top: 161.7rem;
    left: 98rem;

    width: 72rem;
    height: 40rem;

    background-color: #d9d9d9;
    border: 1px solid #000;
}

.collection_image_3 {
    position: absolute;
    top: 193.5rem;
    left: 41.5rem;

    width: 37.5rem;
    height: 55.6rem;

    background-color: #d9d9d9;
    border: 1px solid #000;
}

.collection_descr_1 {
    margin-top: 12rem;
    margin-left: 103rem;   
}

.collection_descr_1 h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    font-weight: 300;
}

.collection_descr_1 p {
    width: 50.5rem;
}

.collection_descr_1 p::first-letter {
   float: left;
   font-size: 13rem;
   line-height: 11rem;
   padding-right: 1rem;
}

.collection_descr_2 { 
    margin-top: 31rem;
    margin-left: 33.4rem;
    width: 54.5rem;
}

.collection_descr_3 { 
    margin-top: 30rem;
    margin-left: 91.7rem;
    width: 54.5rem;
}

.collection_part_2 {
    position: relative;
    margin-top: 24rem;
}

.collection_descr_4 {
    text-align: center;
    width: 98.2rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-weight: 300;
    margin-top: 6.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.collection_part_2 .image {
    width: 178.5rem;
    height: 37rem;
    margin-top: 7rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.image_item {
    border: 1px solid #000;
}


.collection_line {
    /* position: absolute; */
    width: 60rem;
    height: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid #474747;
}

.collection_part_2 h1 {
    position: absolute;
    z-index: 1;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Cinzel Decorative';
    font-size: 6rem;
}

.collection_part_3 {
    position: relative;
    margin-top: 7.6rem;
    width: 152rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.collection_part_3 h1 {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 7rem;
}

.part_3_button {
    position: absolute;
    width: 27.5rem;
    height: 6.9rem;
    top: 5.5rem;
    right: 0;
    padding-left: 4.4rem;
    font-size: 1.6rem;
    text-align: left;
    background-color: rgba(186, 175, 158, 0.8);
    border: none;
    box-shadow: inset 4.166666666666667em 0 0 0.00375em rgba(186, 175, 158, 0);
    transition: ease-out 0.4s;
}

.part_3_button:hover {
    box-shadow: inset 27.5rem 0 0 0 rgba(186, 175, 158, 1);
}

.part_3_button_icon {
    color: #473C38;
    margin: auto;
    margin-left: 30px;
    font-size: 2.5rem;
}

.collection_part_3 .items {
    margin-top: 2.6rem;
}

.collection_part_3 .items .item {
    width: 35.7rem;
    height: 51rem;
}

.collection_part_3 .items .item img {
    width: 100%;
    height: 100%;
    transition: all .6s;
}

.collection_part_3 .items .item h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 400;
    color: black;
}

.collection_part_3 .items .item p {
    font-size: 2rem;
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.collection_img {
    position: relative;
    width: 35.7rem;
    height: 41.7rem;
    background-color: #F0EAE2;
    overflow: hidden;
}

.collection_part_3 .items .item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F0EAE2;
    transition: all .6s;
    opacity: 1;
    object-fit: contain;
}

.collection_part_3 .items .item:hover img:nth-child(1) {
    transform: scale(1.1);
}

.collection_part_3 .items .item:hover img:nth-child(2) {
    opacity: 0;
}

.collection_part_3 .items .item:hover p,
.collection_part_3 .items .item:hover h1 {
    color: #AD7252;
}