:root {
    --backgroundColor: #F0EAE2;
    --textColor: #473C38;
}

.history_container {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--backgroundColor);
    width: 100%;
    height: 100vh;
    font-size: 10px;
}

/* sidebar */

.sidebar_ctn {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 24.2em;
    height: 100vh;
    padding-top: 16.8em;
}

.sidebar_ele {
    position: relative;
    width: 100%;
    height: 9.1em;
    border-bottom: 3px solid #BAAF9E4D;
}

.sidebar_ele:last-of-type {
    border-bottom: 3px solid var(--backgroundColor);
}

.sidebar_btn {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 9.9em;
    height: 2.3em;
    color: var(--textColor);
    font-size: 2.2rem;
    font-weight: 500;
    border: none;
    padding-left: 3.1em;
    background-color: var(--backgroundColor);
    cursor: pointer;
    transition: .2s ease-out;
    text-align: left;
}

.sidebar_icon {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--textColor);
    pointer-events: none;
}

.sidebar_btn:hover {
    background-color: #BAAF9E30;
}

.sidebar_ele .sidebar_focus:hover {
    background-color: #BAAF9E80;
}

.sidebar_focus {
    background-color: #BAAF9E80;
}

/* history content */

.history_content {
    position: relative;
    width: calc(100% - 24.2em);
    height: calc(100vh - 9em);
    padding-left: 6.5em;
    left: 24.2em;
    top: 9em;
    overflow: auto;
}

.history_content::-webkit-scrollbar {
    display: none;
}

.search_container {
    position: relative;
    width: 28.5em;
    height: 4em;
    margin-top: 5.6em;
}

.search_container input {
    width: 100%;
    height: 100%;
    background-color: #BAAF9E66;
    border-radius: 8px;
    border: none;
    padding-left: 2.3em;
    font-size: 1.8rem;
}

.search_container input::placeholder {
    position: absolute;
    top: 52%;
    left: 15%;
    transform: translateY(-50%);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #FFFFFFCC;
    font-size: 1.8rem;
    font-weight: 500;
}

.search_container input:focus::placeholder {
    color: transparent;
}

.search_container input:focus {
    outline: none;
}

.search_container svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-51%);
    font-size: 2.5rem;
    color: #fff;
    pointer-events: none;
    margin-left: 0.4em;
}

.history_table {
    margin-top: 2.4em;
    width: 94.9%;
    height: 75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table_row {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.last-row_shadow {
    box-shadow: 0px 4px 3px -1px #00000040;
}

.first_row .table_ele p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    width: 100%;
    height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left_align {
    text-align: left;
}

.table_ele {
    position: relative;
    flex-grow: 1;
    text-align: center;
    color: black;
}

.first_row .table_ele button {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 2em;
    height: 2em;
    cursor: pointer;
    border: none;
    background-color: rgba(186, 175, 158, 0);
    font-size: 1rem;
}

.first_row .table_ele i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #9E9E9E;
    pointer-events: none;
}

.table_ele p {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #473C38;
    width: 100%;
}

.first_row {
    background-color: rgba(186, 175, 158, 0.8);
}

.odd_row {
    background-color: rgba(186, 175, 158, 0.4);
}

.even_row {
    background-color: #EAE3D9;
}

.table_ele .download_btn {
    font-size: 1rem;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2em;
    height: 2em;
    cursor: pointer;
    border: none;
    background-color: #EAE3D9;
}

.odd_row .table_ele .download_btn {
    background-color: rgba(186, 175, 158, 0)
}

.download_btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5em;
    height: 2.5em;
    color: #757575;
    pointer-events: none;
}

.table_ele button {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4.4em;
    height: 2.5em;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 22px;
    background-color: #AD7252;
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
}

.history_pagination {
    width: 27em;
    height: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}

.history_pagination a {
    position: relative;
    display: block;
    width: 4em;
    height: 4em;
    background-color: #E0E0E0;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
}

.history_pagination p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.history_pagination .text_pagination {
    background-color: var(--backgroundColor);
    margin-right: 1.2em;
    color: #9E9E9E;
}

.text_pagination p:hover {
    text-decoration: underline;
    color: #000;
}

.history_pagination a:hover:not(.text_pagination) {
    color: #fff;
    background-color: #AD7252;
}

.history_pagination .pagination_focus {
    color: #fff;
    background-color: #AD7252;
}

/* Detail modal */

.order_detail {
    position: fixed;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.6);
    z-index: 999;
}

.order_detail_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 122.5em;
    height: 62.2em;
    background-color: #F0EAE2;
    padding: 2.5em;
}

.order_detail_ctn {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #D1B7A1;
}

.user_info {
    position: absolute;
    bottom: 4.325%;    
    float: left;
    width: 38.55%;
    height: 91.52%;
    border-right: 1px solid #D1B7A1;
    padding-top: 3.1em;
}

.user_detail-info {
    position: absolute;
    left: 5%;
    width: 90%;
    height: calc(88.755% - 3.1em);
    border-bottom: 1px solid #D1B7A1;
    overflow: auto;
}

.user_detail-info::-webkit-scrollbar {
    display: none;
}

.info_ctn {
    width: 100%;
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.info_ctn:first-child {
    margin-top: 0;
}

.info_ctn p {
    width: 6.8em;
    color: #B06D40;
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
}

.info_ctn p:last-child {
    width: 12.8em;
    color: #553A31;
    font-weight: 300;
    line-height: 30px;
}

.user_total {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 11.245%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.user_total p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1.5em;
    color: #553A31;
}

.user_total p:last-child {
    font-size: 2.8rem;
    color: #B06D40;
}

.item_info {
    position: relative;
    width: 61.45%;
    height: 100%;
    position: absolute;
    right: 0;
}

.item_info svg {
    position: absolute;
    right: 19px;
    top: 14px;
    width: 20px;
    height: 20px;
    color: #D1B7A1;
    font-size: 3rem;
}

.item_info svg:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #AD7252;
}

.item_ctn {
    position: absolute;
    top: 10%;
    left: 3.5%;
    width: 93%;
    height: 80%;
    overflow: auto;
}

.item_ctn::-webkit-scrollbar {
    display: none;
}

.item_info_ctn {
    position: relative;
    width: 100%;
    height: 9em;
    background-color: #EAE3D9;
    margin-bottom: 12.5px;
    border-radius: 5px;
    border: 1px solid #D1B7A1;
    display: flex;
    align-items: center;
}

.item_info_ctn:last-child {
    margin-bottom: 0;
}

.item_img {
    position: absolute;
    left: 9px;
    width: 7em;
    height: 80%;
    margin-right: 2.3%;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.item_name-cat {
    position: absolute;
    left: 13.5%;
    width: 47.5%;
    height: 72.5%;
}

.item_name-cat p {
    display: flex;
    align-items: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 50%;
    color: #B06D40;
    font-size: 2.4rem;
    font-weight: 400;
}

.item_name-cat p:nth-child(2) {
    color: #553A31;
    font-size: 1.8rem;
}

.item_info_ctn p:nth-child(3) {
    position: absolute;
    left: 68%;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 16%;
    height: 72.5%;
    color: #553A31;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
    display: flex;
    align-items: center;
}

.item_info_ctn p:nth-child(4) {
    position: absolute;
    top: 50%;
    right: 3.448%;
    transform: translateY(-50%);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 16%;
    height: 72.5%;
    color: #B06D40;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.44em;
    text-align: right;
}

.hide_modal {
    display: none;
}

@media only screen and (max-width: 1300px) {
    .history_table {
        width: 153.1em;
    }
}