:root {
    --backgroundColor: #F0EAE2;
    --textColor: #473C38;
}

.history_container {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 70px 0 0 0;
    padding: 0;
    border: none;
    background-color: var(--backgroundColor);
    width: 100vw;
    height: calc(100vh - 70px);
}

.history_sidebar {
    float: left;
    width: 200px;
    height: 100%;
}

.history_sidebar_container {
    position: relative;
    width: 200px;
    padding-bottom: 20px;
    border-bottom: 3px solid #fff;
}

.history_sidebar_container:last-child {
    border: none;
    padding-bottom: 100px;
}

.history_user-profile {
    box-sizing: unset;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 115px;
    height: 43px;
    color: var(--textColor);
    font-size: 16px;
    font-weight: 500;
    margin-top: 61px;
    border: none;
    padding: 0 38px 0 30px;
    background-color: var(--backgroundColor);
    cursor: pointer;
    transition: .3s ease-out;
}

.history_user-icon-profile {
    position: absolute;
    left: 20px;
    top: 72px;
    font-size: 20px;
    color: var(--textColor);
    pointer-events: none;
}

.history_user-history {
    box-sizing: unset;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 133px;
    height: 43px;
    position: absolute;
    top: 21px;
    color: var(--textColor);
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 0 43px 0 7px;
    background-color: var(--backgroundColor);
    cursor: pointer;
    transition: .3s ease-out;}

.history_user-icon-history {
    position: absolute;
    top: 32px;
    left: 17px;
    font-size: 23px;
    color: var(--textColor);
    pointer-events: none;
}

.history_user-history:hover,
.history_user-profile:hover,
.history_user-history:focus,
.history_user-profile:focus, 
.history_sidebar_filled {
    background-color: #BAAF9E;
}

.history_content {
    position: relative;
    float: left;
    overflow: hidden;
    width: calc(100% - 200px);
    height: 100%;
    border: 1px solid red;
}

.history_search-container {
    position: relative;
}

.history_search {
    position: absolute;
    top: 42px;
    left: 30px;
    width: 211px;
    height: 32px;
    background-color: #DFDAD3;
    border-radius: 8px;
    border: 1px solid #D1B7A1;
    padding-left: 35px;
    outline: none;
}

.history_search::placeholder {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: rgba(71, 60, 56, 0.7);
    font-size: 12px;
}

.history_search-icon {
    position: absolute;
    top: 39px;
    left: 30px;
    font-size: 18px;
    color: rgba(71, 60, 56, 0.7);;
    margin: 10px;
    pointer-events: none;
}

.history_search:focus {
    border: 3px solid #D1B7A1;
}

.history_table {
    position: absolute;
    top: 95px;
    left: 30px;
    width: 993px;
    height: 644px;
    border: 1px solid red;
}