:root {
    --backgroundColor: #F0EAE2;
    --textColor: #473C38;
}

.history_container {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 100vh;
}

.history_navbar {
    width: 100%;
    height: 70px;
}

.history_sidebar {
    position: absolute;
    top: 70px;
    left: 0;
    float: left;
    width: 200px;
    height: calc(100% - 70px);
}

.history_sidebar_container {
    position: relative;
    width: 200px;
    padding-bottom: 20px;
    border-bottom: 3px solid #fff;
}

.history_sidebar_container:last-child {
    border: none;
    padding-bottom: 100px;
}

.history_user-profile {
    box-sizing: unset;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 115px;
    height: 43px;
    color: var(--textColor);
    font-size: 16px;
    font-weight: 500;
    margin-top: 61px;
    border: none;
    padding: 0 38px 0 30px;
    background-color: var(--backgroundColor);
    cursor: pointer;
    transition: .3s ease-out;
}

.history_user-icon-profile {
    position: absolute;
    left: 20px;
    top: 72px;
    font-size: 20px;
    color: var(--textColor);
    pointer-events: none;
}

.history_user-history {
    box-sizing: unset;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 133px;
    height: 43px;
    position: absolute;
    top: 21px;
    color: var(--textColor);
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 0 43px 0 7px;
    background-color: var(--backgroundColor);
    cursor: pointer;
    transition: .3s ease-out;}

.history_user-icon-history {
    position: absolute;
    top: 32px;
    left: 17px;
    font-size: 23px;
    color: var(--textColor);
    pointer-events: none;
}

.history_user-history:hover,
.history_user-profile:hover,
.history_user-history:focus,
.history_user-profile:focus, 
.history_sidebar_filled {
    background-color: #BAAF9E;
}

.history_content {
    position: absolute;
    left: 200px;
    position: relative;
    float: left;
    overflow: hidden;
    width: calc(100% - 200px);
    height: calc(100% - 70px);
}

.history_search-container {
    position: relative;
}

.history_search {
    position: absolute;
    top: 42px;
    left: 30px;
    width: 211px;
    height: 32px;
    background-color: #DFDAD3;
    border-radius: 8px;
    border: 1px solid #D1B7A1;
    padding-left: 35px;
    outline: none;
}

.history_search::placeholder {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: rgba(71, 60, 56, 0.7);
    font-size: 12px;
}

.history_search-icon {
    position: absolute;
    top: 39px;
    left: 30px;
    font-size: 18px;
    color: rgba(71, 60, 56, 0.7);
    margin: 10px;
    pointer-events: none;
}

.history_search:focus {
    border: 3px solid #D1B7A1;
}

.history_table {
    position: absolute;
    top: 95px;
    left: 30px;
    width: 993px;
    height: 644px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.history_table-row {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.history_table-element {
    position: relative;
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    width: 150px;
    color: black;
}

.history_table-element p{
    width: 100%;
    height: 20px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.history_head-icon {
    position: absolute;
    left: 95%;
    top: 36%;
    font-size: 16px;
    color: #9E9E9E;
}

.history_head-btn {
    position: absolute;
    top: 47.5%;
    left: 98%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 20px;
    cursor: pointer;
    border: none;
    background-color: rgba(186, 175, 158, 0);
}

.history_table-head {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.history_table_text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #473C38;
}

.history_table-first {
    background-color: rgba(186, 175, 158, 0.8);
}

.history_table-odd {
    background-color: rgba(186, 175, 158, 0.4);
}

.history_table-even {
    background-color: #EAE3D9;
}

.history_table-btn {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: #EAE3D9;
}

.history_table_overwrite-bgr {
    background-color: rgba(186, 175, 158, 0);
}

.history_download-icon {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #757575;
    pointer-events: none;
}

.history_detail-btn {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 22px;
    background-color: #AD7252;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.history_pagination {
    height: 100%;
    width: 22%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 16px;
    display: flex;
    justify-content: space-around;
}

.history_pagination_link {
    position: relative;
    display: block;
    width: 31px;
    height: 31px;
    background-color: #E0E0E0;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
}

.history_pagination_link p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.history_pagination-text {
    background-color: var(--backgroundColor);
    margin-right: 12px;
    color: #9E9E9E;
}

.history_pagination_link:hover:not(.history_pagination-text),
.history_pagination_link:focus:not(.history_pagination-text) {
    color: #fff;
    background-color: #AD7252;
}

.history_pagination-text:hover {
    color: #000;
}

.history_order_detail {
    position: fixed;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.6);
    z-index: 999;
}

.history_order_detail_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 74%;
    height: 76%;
    background-color: #F0EAE2;
    padding: 20px;
}

.history_detail_ctn {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #D1B7A1;
}

.history_detail_info {
    position: absolute;
    top: 4%;
    float: left;
    width: 40%;
    height: 92%;
    border-right: 1px solid #D1B7A1;
}

.history_detail_user-info {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 86%;
    border-bottom: 1px solid #D1B7A1;
}

.history_detail_total {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 14%;
    display: flex;
    justify-content: space-between;
}

.history_info_header {
    font-family: "BIZ UDPMincho", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
    color: #B06D40;
}

.history_info_text {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 15px 26px;
    color: #553A31;
}

.history_info_text-total {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    align-self: center;
}

.history_info_number-total {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #B06D40;
    align-self: center;
}

.history_detail_close-btn {
    position: absolute;
    right: 14px;
    top: 7px;
    color: #D1B7A1;
    font-size: 30px;
}

.history_detail_close-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #AD7252;
}

.history_detail_item {
    position: relative;
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
}

.history_detail_item-ctn {
    position: absolute;
    top: 11%;
    left: 3.5%;
    width: 93%;
    height: 72%;
    display: flex;
    flex-direction: column;
}

.history_detail_item-info {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 19%;
    background-color: #EAE3D9;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #D1B7A1;
}

.history_detail_item-img {
    position: absolute;
    left: 2%;
    width: 13%;
    height: 80%;
    margin-right: 2%;
    background-color: #D9D9D9;
}

.history_detail_item-name-cat {
    position: absolute;
    left: 17.5%;
    width: 47.5%;
    height: 76%;
}

.history_detail_item-name {
    display: flex;
    align-items: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 50%;
    color: #B06D40;
    font-size: 20px;
    font-weight: 400;
}

.history_detail_item-cat {
    display: flex;
    align-items: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 50%;
    color: #553A31;
    font-size: 14px;
    font-weight: 300;
}

.history_detail_amount {
    position: absolute;
    left: 68%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 16%;
    height: 67.5%;
    color: #553A31;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    display: flex;
    align-items: center;
}

.history_detail_item-price {
    position: absolute;
    left: 80%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 16%;
    height: 67.5%;
    color: #B06D40;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}

.history_hide-modal {
    display: none;
}