:root {
  --textColorNav: #473c38;
}

.header {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  color: var(--textColorNav);

  width: 100%;
  height: 90px;

  position: fixed;
  display: flex;
  z-index: 10;
}

.navbar {
  display: inline-flex;
  justify-content: space-between;

  margin-top: 0;
  width: calc(100% - 190px);
  line-height: 42px;

  max-height: 90px;
  height: 90px;
  padding: 0;

  background-color: rgba(186, 175, 158, 0.5);
  backdrop-filter: blur(50px);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 90px;
}

.navbar_list {
  list-style: none;
  display: inline-block;
  height: 90px;
}
.margin_nav {
  margin-left: 15px;
}

.a_hover {
  width: 205px;
}
.navbar_a {
  list-style: none;
  display: inline-block;
  color: var(--textColorNav);
  text-align: center;
  padding: 24px 33px;
  margin-bottom: -25px;
  text-decoration: none;
  cursor: default;
}

.a_hover:hover {
  background-color: #baaf9e80;
}
.hover-underline-animation:hover {
  text-shadow: 0px 0px 0px black;
}

::placeholder {
  color: black;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--textColorNav);
  cursor: pointer;
}

.nav-btn {
  border: none;
  box-sizing: border-box;
  padding: 0;
  width: 1.326em;
  height: 1.326em;
}

svg:hover.nav-btn {
  cursor: pointer;
}
svg:hover.icon-hover {
  stroke-width: 1.5;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 6px;
  left: 0;
  background-color: var(--textColorNav);

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;

  color: var(--textColorNav);
}

.logo {
  /* background-color: #f0eae2; */
  height: 90px;
  width: 250px;
  font-size: 25px;
  display: inline-flex;
  margin-left: -5px;
  backdrop-filter: blur(4px);
}

.logo_img {
  position: absolute;
  top: 10px;
  width: 125px;
  height: 70.19px;
  cursor: pointer;
  left: 70px;
}

.navbar_button_auth {
  background-color: unset;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;

  display: inline-block;

  font-size: 28px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 42px;
  align-items: center;
  color: var(--textColorNav);
}

.vr {
  position: absolute;
  width: 2.5px;
  height: 42px;
}

.nav_search input {
  border: none;
  background: transparent;
  font: 20px "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 300;

  background: none;
  border-radius: 4px;
  transition: width 0.3s;
  width: 0px;
  padding: 0px;
}
.nav_search input:focus,
.nav_search input:hover {
  border-color: #aaa;
  outline: none;
  width: 220px;
  padding: 8px 12px 8px 14px;
  background: linear-gradient(#000, #000) center bottom 7px / calc(100% - 25px)
    1px no-repeat;
  color: black;
}

.nav_search input:focus::placeholder {
  color: transparent;
}

.nav_search input:focus + i {
  color: #ddd;
  pointer-events: none;
}
svg:focus {
  stroke-width: 1.5;
}

.right_nav {
  padding: 24px 25px;
}

.logout_container {
  right: 10px;
  /* width: 200px; */
  background: #ffffff;
  border: 1px solid #cad5e0;
  padding: 10px;
  position: absolute;
  min-height: 200px;
  top: 95px;
  background: #eae3d9;
  border: 1px solid #d1b7a1;
  border-radius: 5px;
  user-select: none;
  width: 293.07px;
  height: 277.88px;
  display: none;
}

.user_icon:hover .logout_container {
  display: block;
}

.logout_container:after {
  content: "";
  display: block;
  position: absolute;
  top: -18px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: #eae3d9;
  border-right: 1px solid #d1b7a1;
  border-top: 1px solid #d1b7a1;
  /* rotate: -45deg; */
  transform: rotate(-45deg);
}

.logout_wrapper {
  margin: 10px;
}

.logout_header {
  font-size: 19px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: 400;
  line-height: 28px;
  color: #473c38;
  margin-top: 10px;
}

.logout_name {
  font-size: 22px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  color: #ad7252;
  border-bottom: 1px solid #473c38;
}
.logout_icon {
  font-size: 18px;
  text-align: center;
  margin: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}

.logout_button {
  width: 232.46px;
  height: 50px;
  text-align: left;
  border: none;
  background-color: #eae3d9;
  margin-top: 10px;
}

.logout_button_footer {
  color: #ad7252;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.logout_button:hover {
  background-color: #d1b7a1;
}
