

.navbar_text {
   position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #473C38;
  margin:0;
}
.rightNav {
  /* position: relative; */
  width: 100%;
  height: 40px;
  left: 200px;
  top: 0px;
  background: rgba(186, 175, 158, 0.5);
}


.navbar_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BAAF9E;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar_list {
  float: left;
}

.navbar_list .navbar_a {
  display: block;
  color: #473C38;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_list .navbar_a:hover:not(.active) {
  background-color: #a68d67;
}

.active {
  background-color: #BAAF9E;
}