:root {
  --backgroundColor: #F0EAE2;
  --textColor: #473C38;
}

.product_container {
  z-index: 999;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--backgroundColor);
  font-size: 10px;
  width: 100%;
  height: 177.4em;
}

.admin_sort {
  position: absolute;
  top: 14em;
  left: 147em;
  width: 38.4em;
  height: 3.5em;
  display: flex;
}

.admin_sort h2 {
  font-size: 2.4em;
  font-weight: 500;
  height: 1.5em;
  width: 5.7em;
  text-align: center;
  line-height: 1.5em;
  color: #473C38;
}

.admin_sort select {
  font-size: 2.4em;
  font-weight: 300;
  height: 1.5em;
  width: 9.7em;
  line-height: 1.5em;
  border: none;
  outline: none;
  background-color: var(--backgroundColor);
}

.product_sidebar {
  width: 24.2em;
  height: 100%;
  padding-top: 16em;
}

.sidebar_element {
  font-family: 'Poppins';
  width: 21.8em;
  height: 25.3em;
  margin-bottom: 2.4em;
  border-bottom: 3px solid #BAAF9E4D;
}

.sidebar_element h2 {
  font-weight: 500;
  font-size: 2.2em;
  padding-left: 0.8em;
  margin-bottom: 0.9em;
}

.sidebar_element a {
  width: 100%;
  height: 2.5em;
  display: block;
  text-decoration: none;
  color: #473C38;
  font-size: 2em;
  padding-left: 2.2em;
  line-height: 2.5em;
}

.sidebar_element a:hover {
  background-color: #BAAF9E80;
}

.product_content {
  position: absolute;
  top: 21em;
  left: 32.5em;
  width: 152.7em;
  height: 51em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8.2em;
}

.product_content:nth-child(4) {
  top: 80.2em;
  margin-bottom: 0;
}

.product_element {
  flex-grow: 1;
  margin-right: 3.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #473C38;
}

.product_element:nth-child(4) {
  margin-right: 0;
}

.product_element img {
  width: 100%;
  height: 41.7em;
  background-color: #D9D9D9;
}

.product_element h2 {
  font-size: 2.4em;
  width: 9.2em;
  height: 1.9em;
  line-height: 1.9em;
  text-align: center;
}

.product_element p {
  font-size: 2.4em;
  width: 3.4em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
}

.admin_pagination {
  top: 139.4em;
  left: 93.7em;
}

.admin_pagination-focus {
  color: #fff;
  background-color: #473C38;
}

.history_pagination_link:hover:not(.history_pagination-text) {
  color: #fff;
  background-color: #473C38;
}