:root {
    --backgroundColor: #F0EAE2;
    --boxColor: #AD7252;
    --textColor: #553A31;
}

.sign-up_container {
    position: fixed;
    z-index: 999;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    top: 0 ;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(71, 71, 71, 0.6);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.sign-up_wrapper {
    position: relative;
    width: 67.5em;
    height: 88em;
    background-color: var(--backgroundColor);
}

.sign-up_ctr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 5.4em);
    height: calc(100% - 5.4em);
    background-color: var(--backgroundColor);
    border: 1px solid #D1B7A1;
}

.sign-up_icon {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    right: 2em;
    top: 2em;
}

.login_close-btn{
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--backgroundColor);
    padding: 0;
}

.sign-up_my-icon {
    width: 2.5em;
    height: 2.5em;
    color: #D1B7A1;
    transition: color 0.15s linear;
}

.sign-up_my-icon:hover {
    cursor: pointer;
    color: var(--boxColor);
}

.sign-up_header {
    font-size: 4.5rem;
    font-family: "Poppins";
    width: 9em;
    height: 1.3em;
    line-height: 1.5em;
    text-align: center;
    color: #b06d40;
    font-weight: 300;
    margin: 0.45em auto auto auto;
}

.sign-up_para {
    font-size: 2rem;
    border-bottom: 1px solid #bab0a7;
    width: 24em;
    height: 2.3em;
    color: var(--textColor);
    text-align: center;
    font-weight: 300;
    margin: 0.29em auto auto auto;
}

.sign-up_form {
    position: relative;
    width: 61.3em;
    height: 67em;
    padding: 0 4.5em;
    margin: 0;
}

.sign-up_form_text-field {
    position: relative;
    width: 52.5em;
    height: 6.8em;
    margin: 3.1em 0;
}

.sign-up_form_text-field:first-child {
    margin-top: 2.3em;
}

.sign-up_form_text-field:nth-child(5){
    margin-bottom: 0;
}

.sign-up_form_text-field_input {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background: none;
    outline: none;
    border: 1px solid #c7a08a;
    padding: 0 1.3em;
}

.sign-up_form_text-field_label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #473C38B2;
    font-size: 2rem;
    transition: .2s;
    background-color: var(--backgroundColor);
    pointer-events: none;
    text-align: left;
}

.sign-up_form_text-field_input:focus {
    border: 2px solid #c7a08a;
    color: #473C38;
}

.sign-up_form_text-field_input:focus + .sign-up_form_text-field_label,
.sign-up_form_filled {
    top: 0px;
    left: calc(1.3em - 3px);
    color: #c7a08a;
    padding: 4.5px;
    font-weight: 400;
}

.sign-up_desc {
    width: 29em;
    height: 1.5em;
    font-size: 1.8rem;
    color: #473C38B2;
    line-height: 1.5em;
    font-weight: 300;
    text-align: justify;
    margin-top: 0.7em;
    margin-bottom: 2em;
}

.sign-up_link {
    text-decoration: none;
    color: #9c674a;
    font-weight: 500;
}

.sign-up_link:hover {
    color: rgba(156, 103, 74, 0.8);
}

.sign-up_btn {
    position: relative;
    cursor: pointer;
    width: 52.5em;
    height: 7.5em;
    background-color: var(--boxColor);
}

.sign-up_btn_submit {
    cursor: pointer;
    border: none;
    background-color: var(--boxColor);
    width: 52.5em;
    height: 7.5em;
    box-shadow: inset 4.2em 0 0 0.00375em var(--boxColor);
    transition: ease-out 0.9s;
    padding: 0;
}

.sign-up_btn_submit p {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 5.2%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
}

.sign-up_btn:hover > .sign-up_btn_submit {
    box-shadow: inset 52.5em 0 0 0.09px #9C674B;
}

.sign-up_btn_icon {
    position: absolute;
    top: 50%;
    right: 6.571%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2.4rem;
}

.sign-up_signup-link {
    width: 19.2em;
    height: 1.5em;
    margin-top: 0.5em;
    color: #473C38B2;
    font-size: 2rem;
    text-align: left;
    font-weight: 300;
}

.sign-up_link_login{
    color: var(--boxColor);
}

.sign-up_link_login:hover{
    color: #553a31;
}