.sort_ctn {
  position: relative;
  font-size: 10px;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.sort_ctn button {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #f0eae2;
}

.sort_ctn button span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #473C38;
  font-size: 2.4em;
  font-weight: 300;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.sort_ctn button i {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: #473C38;
  font-size: 2.4em;
}

.sort-opts {
  margin-top: 10px;
  position: absolute;
  left: -2.5%;
  top: 100%;
  width: 105%;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  background-color: #f0eae2;
  cursor: pointer;
  border-radius: 4px;
}

.sort-opts a {
  display: block;
  width: 100%;
  height: 5em;
  text-decoration: none;
}

.sort-opts a h2 {
  width: 100%;
  height: 100%;
  font-size: 2.4em;
  font-weight: 400;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #473C38;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.sort-opts a:hover h2 {
  background-color: #a45b37;
  color: rgba(255, 255, 255, 0.7);
}

.sort-opts a .checked-opt {
  color: #a45b37;
}

.sort-opts a .checked-opt:hover {
  color: #fff;
}

.hide-sort {
  display: none;
}